<div class='center jumbotron'>
  <h1>Welcome To Blah Realtors</h1>

  <h2>Where a house becomes your home</h2>

  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>

<!-- <%= link_to image_tag('realtor.jpg', alt: 'Blah Realtors Logo'), '#' %> -->
<!-- <%= link_to image_tag('kitten.jpg', alt: 'Obligatory Cat Photo'), '#' %> -->
