<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home | RoR Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>This is the home page for my sample app</p>
  </body>
</html>
