<footer class='footer'>
  <small>
    All Rights Reserved etc. etc.
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a href='https://www.biggerpockets.com/renewsblog/'>Blog</a> </li>
    </ul>
  </nav>
</footer>
